<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div>
        <p><img src = "<%=data.addr %>" /></p>
        <span><%=data.content %></span>
    </div>
    <!-- <button><a href="/home_right">홈으로</a></button> -->
    <input type="button" value="홈으로" onclick="location.href='/main_home' ">
    </form>

</body>
</html>