<!DOCTYPE html>
<html>
 <head>
    <!-- <% include ../partials/head %> -->
 </head>
 <frameset frameborder="0" rows="60, *">
    <frame scrolling ="no" name = "home_top" src= "/home_top" />
    <frameset cols="10, 80">
        <frame scrolling ="no" name="home_left" src="/home_left" />
        <frame scrolling ="auto" name="home_right" src="/home_right" />
    </frameset>
 </frameset>
<body>
 </body>
</html>