<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            <form action="/home_login" method="POST" name="frm_login" id="frm_login">
                <input type="text" name="username" />
                <input type="password" name="password"/>
                <input type="submit"  value="Login"/>
            </form>

            <input type ="button" value ="회원가입" onclick = "location.href='/sign_up'">
    </body>

</html>