<!DOCTYPE html>
<html>
 <head>
    <!-- <% include ../partials/head %> -->
 </head>
<body>
   로그인 되었습니다.
 </body>
 <script type='text/javascript'>
   window.onload = function() {
        opener.parent.location.reload();
        window.close();  
   }
</script>
</html>