<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            <form action="/react_login" method="POST" name="frm_login" id="frm_login">
                <input type="text" name="username" />
                <input type="password" name="password"/>
                <input type="submit"  value="Login"/>
            </form>
    </body>

</html>