<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>
<body>
    <form name="sign_up" action="/sign_up" method="post">
        <table>
            <tr>
                <td>이름</td>
                <td><input type="text" name="user_name" /></td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="user_id" /></td>
            </tr>
            <tr>
                <td>닉네임</td>
                    <td><input type="text" name="user_nickname" /></td>
                </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="user_pw" /></td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><input type="password" name="user_pw2" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="완료" />
                <input type="reset" name="reset" value="리셋" /></td>
            </tr>
        </table>
    </form>
</body>
</html>