<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading" style="text-align: center">TripCo</h4>
        </div>
    </body>

</html>