<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

</head>
<body>
    <div style="border: 1px solid blue; padding:60px;"> 대문사진 </div>

    <div class="edit" align ="right">수정/
        <td><a href="/blog_edit">블로그 upgrade</a></td>
    </div>
    <div align="center"><h1>오른쪽</h1></div>
</body>

</html>