<!DOCTYPE html>
<html>
 <head>
    <!-- <% include ../partials/head %> -->
 </head>
<frameset name="blog_all" frameborder="0" cols="20%, *">
    <frame scrolling ="no" name="blog_left" src="/blog_left" />
    <frame scrolling ="auto" name="blog_right" src="/blog_right" />
</frameset>
<body>
    
 </body>
</html>